{% extends 'base.html.twig' %}

{% block body %}
    {% for person in json %}
        <p>{{ person['firstname'] }}</p>
        <p>{{ person['lastname'] }}</p>
    {% endfor %}
{% endblock %}

{% block title %}

{% endblock %}

